@model Sprint_3_V1.Models.StockOrder

@{
    ViewBag.Title = "Delete";
}
<link href='@Url.Content("~/Content/Style.css")' rel="stylesheet" type="text/css" />
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StockOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock.StockID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock.StockID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubPrice)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
