@model IEnumerable<Sprint_3_V1.Models.EmpPos>

@{
    ViewBag.Title = "Index";
}
<link href='@Url.Content("~/Content/Style.css")' rel="stylesheet" type="text/css" />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Started)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ended)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Started)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ended)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmpPosID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmpPosID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmpPosID })
        </td>
    </tr>
}

</table>
