@model IEnumerable<Sprint_3_V1.Models.Order>

@{
    ViewBag.Title = "Order History";
}

<h2>Order History</h2>

<p>
    <button class="btn btn-success btn-default" style="text-align:center;font-family:Arial" type="button" value="Details" onclick="location.href='@Url.Action("Store", "Stocks")'">Store</button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model=>model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |
                @Html.ActionLink("Details", "Details", new { id = item.OrderID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderID })*@
            </td>
        </tr>
    }

</table>
