
@{
    ViewBag.Title = "Clerk Page";
}

<h2>Clerk</h2>

<div colspan="2" style="padding-top:5px;text-align:center;">
    <button class="btn btn-primary btn-lg" style="text-align:center;font-family:Arial" type="submit" value="Add to Orders" onclick="location.href='@Url.Action("Index", "Farms")'">Farms</button>
</div>
<br />
<div colspan="2" style="padding-top:5px;text-align:center;">
    <button class="btn btn-primary btn-lg" style="text-align:center;font-family:Arial" type="submit" value="Add to Orders" onclick="location.href='@Url.Action("Index", "Lands")'">Lands</button>
</div>
<br />
<div colspan="2" style="padding-top:5px;text-align:center;">
    <button class="btn btn-primary btn-lg" style="text-align:center;font-family:Arial" type="submit" value="Add to Orders" onclick="location.href='@Url.Action("Index", "Fields")'">Fields</button>
</div>
<br />
<div colspan="2" style="padding-top:5px;text-align:center;">
    <button class="btn btn-primary btn-lg" style="text-align:center;font-family:Arial" type="submit" value="Add to Orders" onclick="location.href='@Url.Action("Index", "CropInfoes")'">Crops Information</button>
</div>
<br />
<div colspan="2" style="padding-top:5px;text-align:center;">
    <button class="btn btn-primary btn-lg" style="text-align:center;font-family:Arial" type="submit" value="Add to Orders" onclick="location.href='@Url.Action("Index", "Employees")'">Employees</button>
</div>
<br />
<div colspan="2" style="padding-top:5px;text-align:center;">
    <button class="btn btn-primary btn-lg" style="text-align:center;font-family:Arial" type="submit" value="Add to Orders" onclick="location.href='@Url.Action("Index", "Groups")'">Groups</button>
</div>
<br />
<div colspan="2" style="padding-top:5px;text-align:center;">
    <button class="btn btn-primary btn-lg" style="text-align:center;font-family:Arial" type="submit" value="Add to Orders" onclick="location.href='@Url.Action("Index", "Planteds"))'">Planteds Crops</button>
</div>
<br />
<div colspan="2" style="padding-top:5px;text-align:center;">
    <button class="btn btn-primary btn-lg" style="text-align:center;font-family:Arial" type="submit" value="Add to Orders" onclick="location.href='@Url.Action("Index", "PlantedTasks")'">Planted Tasks</button>
</div>
<br />
<div colspan="2" style="padding-top:5px;text-align:center;">
    <button class="btn btn-primary btn-lg" style="text-align:center;font-family:Arial" type="submit" value="Add to Orders" onclick="location.href='@Url.Action("Index", "CropTasks")'">Crop Tasks</button>
</div>
<br />
@*<div colspan="2" style="padding-top:5px;text-align:center;">
    <button class="btn btn-primary btn-lg" style="text-align:center;font-family:Arial" type="submit" value="Add to Orders" onclick="location.href='@Url.Action("Index", "TaskMasters")'">TaskMasters</button>
</div>
<br />*@
<div colspan="2" style="padding-top:5px;text-align:center;">
    <button class="btn btn-primary btn-lg" style="text-align:center;font-family:Arial" type="submit" value="Add to Orders" onclick="location.href='@Url.Action("Index", "Positions")'">Positions</button>
</div>
<br />
@*<div colspan="2" style="padding-top:5px;text-align:center;">
    <button class="btn btn-primary btn-lg" style="text-align:center;font-family:Arial" type="submit" value="Add to Orders" onclick="location.href='@Url.Action("Index", "GroupTasks"))'">GroupTasks</button>
</div>
<br />*@
<div colspan="2" style="padding-top:5px;text-align:center;">
    <button class="btn btn-primary btn-lg" style="text-align:center;font-family:Arial" type="submit" value="Add to Orders" onclick="location.href='@Url.Action("Index", "Orders")'">Orders</button>
</div>
<br />
<div colspan="2" style="padding-top:5px;text-align:center;">
    <button class="btn btn-primary btn-lg" style="text-align:center;font-family:Arial" type="submit" value="Add to Orders" onclick="location.href='@Url.Action("Index", "Stock")'">Stock</button>
</div>
<br />
<div colspan="2" style="padding-top:5px;text-align:center;">
    <button class="btn btn-primary btn-lg" style="text-align:center;font-family:Arial" type="submit" value="Add to Orders" onclick="location.href='@Url.Action("Index", "StockOrders")'">StockOrders</button>
</div>
<br />
<div colspan="2" style="padding-top:5px;text-align:center;">
    <button class="btn btn-primary btn-lg" style="text-align:center;font-family:Arial" type="submit" value="Add to Orders" onclick="location.href='@Url.Action("Index", "FarmEmployees"))'">FarmEmployees</button>
</div>
<br />
@*<div colspan="2" style="padding-top:5px;text-align:center;">
    <button class="btn btn-primary btn-lg" style="text-align:center;font-family:Arial" type="submit" value="Add to Orders" onclick="location.href='@Url.Action("Index", "EmpPos")'">Employee Positions</button>
</div>
<br />*@
<div colspan="2" style="padding-top:5px;text-align:center;">
    <button class="btn btn-primary btn-lg" style="text-align:center;font-family:Arial" type="submit" value="Add to Orders" onclick="location.href='@Url.Action("Index", "Customers")'">Customers</button>
</div>