<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href='@Url.Content("~/Content/Style.css")' rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Farm", "Index", "Farms", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Land", "Index", "Lands", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Field", "Index", "Fields", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Crops", "Index", "CropInfoes", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Employees", "Index", "Employees", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Groups", "Index", "Groups", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Planted", "Index", "Planteds", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Tasks", "Index", "PlantedTasks", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Crop Tasks", "Index", "CropTasks", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Task Master", "Index", "TaskMasters", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Positions", "Index", "Positions", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Accounts", "Index", "Accounts", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Group Tasks", "Index", "GroupTasks", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Orders", "Index", "Orders", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Sales", "Index", "Sales", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Stock", "Index", "Stocks", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Stock Order", "Index", "StockOrders", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Employee Positions", "Index", "EmpPos", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Farm Employee", "Index", "FarmEmployees", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Customers", "Index", "Customers", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Store", "Store", "Stocks", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>