@model IEnumerable<Sprint_3_V1.Models.Stock>

@{
    ViewBag.Title = "Stocks";
}
<link href='@Url.Content("~/Content/Style.css")' rel="stylesheet" type="text/css" />
<h2>Stocks</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StockImage)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.CropInfo.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HarQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Harvested)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expiery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disabled)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @try
                {

                    var base64 = Convert.ToBase64String(item.StockImage);
                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                    <img src='@imgsrc' style="max-width:100px;max-height:100px" />


                }
                catch
                {
                    if (item.StockImage == null)
                    {
                        <img width="40" height="40" src="https://ixxidesign.azureedge.net/media/2388044/marcus-kraft-12-dont-worry-be-happy-white.jpg?mode=max&width=562&height=749" />
                    }
                }



            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CropInfo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HarQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Harvested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expiery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpFlag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disabled)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StockID }) |
                @Html.ActionLink("Details", "Details", new { id = item.StockID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StockID })
            </td>
        </tr>
    }

</table>
